html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

body{
  width: 100%;
  margin: auto;
}

h1{
  margin: 0.5rem 0;
}

h3{
  margin: 4px 0 8px 0;
  font-size: 1rem;
}

.row{
  margin: auto;
}

.col{
  display: inline-block;
  margin: auto;
}

.col-4{
  display: inline-block;
  max-width: 30%;
  margin: 0.5rem 0;
}

.align-items-start{
  align-items: start;
}

.align-items-middle{
  align-items: middle;
}

.align-items-end{
  align-items: end;
}

button{
  color: white;
  font-size: 1rem;
  border: 2px solid #00008B;
  background-color: #008CBA;;  
  padding: 4px 8px;
  margin: 2px 0px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn-up-down{
  width: 40px;
  font-size: 1rem;
}

.btn-play-stop{
  width: 60px;
  height: 40px;
  font-size: 1rem;
}

.btn-reset-all{
  width: 100px;
  font-size: 1rem;
}

.value{
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.orange{
  border: 2px solid #B22222;
  background-color: #FF4500;
}

.red{
  border: 2px solid #8B0000;
  background-color: #FF0000;
}

.green{
  border: 2px solid #006400;
  background-color: #228B22;
}

.yellow{
  border: 2px solid #BDB76B;
  background-color: #FFD700;
}