html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

body{
  width: 320px;
  margin: auto;
}

h1{
  display: inline-block;
  font-size: 3.4rem;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  text-shadow:
    1px 1px 1px lightslategray,
    2px 2px 1px lightslategray;
  margin: 0.5rem 0;
}

.dot {
  height: 25px;
  width: 25px;
  margin: auto auto auto 8px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}

h3{
  margin: 4px 0 8px 0;
  font-size: 1.2rem;
}

#game-state-title{
  margin: 0px;
  border-radius: 8px;
  padding: 4px 4px;
  background-color: #9ACD32;
  color: black;
}

.row{
  margin: auto;
}

.col{
  display: inline-block;
  margin: auto;
}

.col-4{
  display: inline-block;
  max-width: 33%;
  margin: 0.5rem 0.2rem;
}

.align-items-start{
  align-items: start;
}

.align-items-middle{
  align-items: middle;
}

.align-items-end{
  align-items: end;
}

button{
  color: white;
  font-size: 1rem;
  border: 2px solid #00008B;
  background-color: #008CBA;;  
  padding: 4px 0px;
  margin: 2px 0 0px 0;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn-up-down-scores{
  width: 46px;
  font-size: 2rem;
}

.btn-play-stop{
  width: 100px;
  height: 60px;
  font-size: 2rem;
}

.btn-reset-all{
  width: 230px;
  font-size: 1.5rem;
}

.box{
  border: 1px solid black;
  background-color: #DCDCDC;
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
}

.value{
  margin: 0.5rem 0;
  font-size: 3.5rem;
  font-weight: bold;
}

.btn-up-down-timer{
  width: 50px;
  margin: auto 4px;
  font-size: 2rem;
}

.vl{
  display: inline-block;
  border-left: 2px solid black;
  height: 50px;
  margin: 2px 0 0 0;
}

.btn-timer-options{
  width: 120px;
  margin: auto 4px;
  font-size: 1.5rem;
}

.orange{
  border: 2px solid #B22222;
  background-color: #FF4500;
}

.red{
  border: 2px solid #8B0000;
  background-color: #FF0000;
}

.green{
  border: 2px solid #006400;
  background-color: #228B22;
}

.yellow{
  border: 2px solid #4169E1;
  background-color: #6495ED;
}